body {
  width: 680px;
  min-height: 300px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.avatar-container {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid white;
  border-radius: 9999px;
  z-index: 3;
  overflow: hidden;
  transition: all 0.3s;
  margin-left: 0px;
  margin-top: 0px;
}

.avatar {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.avatar-container:hover {
  height: 80px;
  width: 80px;
  margin-left: -20px;
  margin-top: -20px;
  z-index: 10;
  border-radius: 9999px;
}